#.htaccess

/vendor
/bootstrap/compiled.php

node_modules
.tmp
.sass-cache
bower_components
test/bower_components
*.komodoproject
less

.idea
*.clpprj
Thumbs.db
composer.lock
_ide_helper.php

/app/config/database.php
/app/lang/*/*.php

/app/storage/cache/*
/app/storage/logs/*
/app/storage/meta/*
/app/storage/sessions/*
/app/storage/views/*
/app/storage/*.dat

/public/uploads/files/*
/public/uploads/galleries/*
/public/uploads/galleries/thumbs/*
/public/uploads/thumbnail/*

/public/static/psd
/usersfiles
/psd
/!files
/!info
app/config/packages/scalia/sphinxsearch/config.php

/site


app/lang/.gitkeep

app/lang/en/.gitkeep

app/lang/ru/.gitkeep

public/uploads/yH6nDgOiGXgJ0cT1.jpg

public/uploads/thumbs/yH6nDgOiGXgJ0cT1.jpg

public/uploads/thumbs/Mz4E2q2or1kaEts9.jpg

public/uploads/thumbs/9grrQSLJYpPi8SfI.jpg

public/uploads/Mz4E2q2or1kaEts9.jpg

public/uploads/9grrQSLJYpPi8SfI.jpg
