AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

<IfModule mod_rewrite.c>

    RewriteEngine on

    ## Все домены с www - редирект на без www
    RewriteCond %{HTTP_HOST} ^www\.([^\/]+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    ## agrocomgroup.ru — открывается русская версия сайта
    ## agrocomgroup.com — открывается английская версия сайта
    RewriteCond %{HTTP_HOST} ^agrocomgroup.com [NC]
    RewriteRule ^(.*)$ http://agrocomgroup.ru/en [R=301,L]

    ## agrokomgroup.ru — перенаправляется на agrocomgroup.ru
    RewriteCond %{HTTP_HOST} ^agrokomgroup.ru [NC]
    RewriteRule ^(.*)$ http://agrocomgroup.ru [R=301,L]

	# project.dev.grapheme.ru
    #RewriteCond %{DOCUMENT_ROOT}/public -d
	RewriteRule (.*) /public/$1 [L]

</IfModule>

php_value upload_max_filesize 10M

##
## Disable Apache server authorisation for subdirectory
## http://www.shkodenko.kiev.ua/index.php?lang_id=1&content_id=223
##
<If "%{HTTP_HOST} =~ /\.dev\.grapheme\.ru$/">
    Satisfy Any
    Allow from all
</If>

##
## Redirect finished projects: from DEV domain to PRODUCTION domain
## project.dev.grapheme.ru -> project.ru
## http://httpd.apache.org/docs/2.4/mod/core.html#if
##
#<If "%{HTTP_HOST} =~ /\.dev\.grapheme\.ru$/">
#    Redirect 301 / http://project.ru/
#</If>
