@font-face {
  font-family: 'Foros-Medium';
  src: url('../fonts/Foros-Medium.eot');
  src: url('../fonts/Foros-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Foros-Medium.woff') format('woff'),
       url('../fonts/Foros-Medium.ttf') format('truetype'),
       url('../fonts/Foros-Medium.svg#Foros-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foros-Regular';
  src: url('../fonts/Foros-Regular.eot');
  src: url('../fonts/Foros-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Foros-Regular.woff') format('woff'),
       url('../fonts/Foros-Regular.ttf') format('truetype'),
       url('../fonts/Foros-Regular.svg#Foros-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

