footer
  .logos-line-wrapper
    .holder
      .logos-line
        .wrapper
          a.unit(href="")
            img(src="/images/logo_1.svg")
          a.unit(href="")
            img(src="/images/logo_2.svg")
          a.unit(href="")
            img(src="/images/logo_3.svg")
          a.unit(href="")
            img(src="/images/logo_4.svg")
          a.unit(href="")
            img(src="/images/logo_5.svg")
          a.unit(href="")
            img(src="/images/logo_6.svg")
          a.unit(href="")
            img(src="/images/logo_7.svg")
          a.unit(href="")
            img(src="/images/logo_8.svg")
          a.unit(href="")
            img(src="/images/logo_9.svg")
          a.unit(href="")
            img(src="/images/logo_10.svg")
      .logo
        img(src="/images/logo-agrokom-small.png")
  .real-footer
    .company
      strong ООО «ГРУППА АГРОКОМ»<br>
      span &copy; 2006-2014
    .address 344002, г. Ростов-на-Дону<br>ул. Красноармейская, 170
    .contacts.
      Тел. приемная +7 863 250-58-10,<br>
      факс +7 863 290-71-16<br>
      <br>
      Дирекция по корпоративным коммуникациям<br>
      +7 863 250-58-14