header.big
  .holder
    .logo-wrapper
      a.logo(href="index.html")
        img.duga1(src="/images/logo_2_duga_2.svg")
        img.text(src="/images/logo_2_text.svg")
        img.duga2(src="/images/logo_2_duga_1.svg")
    .lang-sw
      a.active(href="/ru/") rus
      a(href="/eng/") eng
    ul.main-menu
      li
        a(href="#") О компании
        ul
          li
            a(href="") Табачный бизнес-комплекс
          li
            a(href="") ​Мясной бизнес-комплекс
          li
            a(href="") ​Атлантис-Пак
          li
            a(href="") ​Аква-Дон
      li
        a(href="projects.html") Проекты
      li
        a(href="press.html") Пресс-центр
      li
        a(href="contacts.html") Контакты
  .shadow