extends layout

block vars
 - var bodyClass = "business";

block header
  include _header_small.jade

block content
  .slogan.
    Объединяем<br>
    Сохраняем<br>
    Приумножаем
  #preload-visual.visual-wide(data-img="images/visual-about.jpg")
    .holder
      .teaser
        img(src="images/visual-about-text.png" style="margin-bottom: -110px;margin-left: 75px;")
  .content
    h1.
      «ГРУППА АГРОКОМ»<br>
      итоги деятельности, 2014 г.
    .row.col-2
      .info
        p.
          Показатель EBIDTA – 8 млрд. руб., что выше уровня прошлого года на 3%.
        p.
          В&nbsp;бюджеты всех уровней в&nbsp;виде налогов и&nbsp;сборов перечислено 34,5&nbsp;млрд.&nbsp;руб. <br>В&nbsp;2013&nbsp;г. этот показатель был равен 26,7&nbsp;млрд.&nbsp;руб.
    .center
      h2.
        Совокупный валовый объем продаж по&nbsp;Группе компаний в&nbsp;2014&nbsp;г. вырос на&nbsp;24% и&nbsp;составил 65,7&nbsp;млрд.&nbsp;руб.
      p.
        На&nbsp;благотворительность и&nbsp;социальные проекты Группой компаний
        направлено 364&nbsp;млн.&nbsp;руб. (в&nbsp;2013 году&nbsp;&mdash;
        149&nbsp;млн.&nbsp;руб.), основные направления&nbsp;&mdash; деятельность
        &laquo;Благотворительного фонда <nobr>И. И. Саввиди</nobr>&raquo;,
        поддержка Академии футбола им.&nbsp;В. Понедельника, спонсорство
        ГК&nbsp;<nobr>&laquo;Ростов-Дон&raquo;</nobr>.
      blockquote Упаковочный бизнес-комплекс (ООО ПКФ «Атлантис-Пак»)
      
      p.
        В&nbsp;2014&nbsp;г. валовый объем продаж составил
        6,4&nbsp;млрд.&nbsp;руб. (прирост 7% по&nbsp;отношению
        к&nbsp;2013&nbsp;г.). Чистый объем продаж составил
        5,7&nbsp;млрд.&nbsp;руб. (рост 7%).
      p.
        Экспорт вырос на&nbsp;19% и&nbsp;составил 2,4&nbsp;млрд.&nbsp;руб.
      p.
        EBITDA&nbsp;&mdash; 1,8&nbsp;млрд.&nbsp;рублей, что выше показателя 2013&nbsp;г. на&nbsp;22%.
      p.
        Общий объем налоговых платежей составил 884&nbsp;млн.&nbsp;руб., что выше показателя предыдущего года на&nbsp;17%.
      p.
        В&nbsp;2014&nbsp;г. выпущен ряд инновационных продуктов: &laquo;АйПил&raquo;, <nobr>&laquo;АйПил-Черева&raquo;</nobr>, &laquo;АйЦел&raquo;, <nobr>&laquo;Амифлекс-Мини&raquo;</nobr>, &laquo;Диплекс&raquo;.
  .visual-wide-thin(data-img="http://puu.sh/h6e9S/5c2e19869e.png")
  .content
    .center
      p.
        География продаж: более 70 стран мира&nbsp;&mdash; Северная и&nbsp;Южная
        Америка, Европа, страны <nobr>Юго-Восточной</nobr> Азии, Африки, страны
        СНГ.&nbsp;Осваиваются новые направления сбыта: Китай, Новая Зеландия,
        Словения.
      p.
        С&nbsp;целью укрепления позиций на&nbsp;европейском рынке в&nbsp;Чехии
        открыт новый <nobr>производственно-логистический</nobr> центр
        в&nbsp;функционале которого&nbsp;&mdash; дополнительная обработка
        оболочки, гофрирование, нанесение печати. Собственные торговые
        представительства открыты в&nbsp;Германии и&nbsp;Польше.
      p.
        Проект по&nbsp;развитию компании
        <nobr>&laquo;Атлантис-Пак&raquo;</nobr>, рассчитанный
        на&nbsp;<nobr>2015&mdash;2016 гг.</nobr> г. предполагает инвестиции
        в&nbsp;размере 3,5&nbsp;млрд.&nbsp;руб. В&nbsp;рамках намеченного плана
        в&nbsp;апреле 2015&nbsp;г. запланирован запуск новой экструзионной линии
        для производства колбасной оболочки.
      p.
        В&nbsp;2014&nbsp;г. компанией получены золотые медали
        в&nbsp;&laquo;Конкурсе оболочек и&nbsp;упаковочных материалов для мясной
        отрасли&raquo;, организованном ГНУ ВНИИМП им.&nbsp;<nobr>В. М.
        Горбатова</nobr> Россельхозакадемии: пакеты для запекания &laquo;Амивак
        МВС&raquo; и&nbsp;барьерная оболочка с&nbsp;динамической проницаемостью
        &laquo;Диплекс&raquo;.
      p.
        Зарегистрированы 40 товарных знаков (продукты и&nbsp;компания)
        за&nbsp;рубежом. В&nbsp;России получено 9 свидетельств
        о&nbsp;регистрации товарных знаков (продукты и&nbsp;компания).
  .visual-wide-thin(data-img="http://puu.sh/h6e9S/5c2e19869e.png")
  .content
    .center
      blockquote Табачный бизнес-комплекс («Донской табак»)
      p.
        На&nbsp;фоне сокращающегося рынка (в&nbsp;целом по&nbsp;России
        на&nbsp;9% к&nbsp;уровню прошлого года), &laquo;Донкой табак&raquo;
        переместился с&nbsp;пятой на&nbsp;четвертую рыночную позицию, нарастив
        рыночную долю компании на&nbsp;0,7% до&nbsp;уровня 8,8%.
      p.
        В&nbsp;2014&nbsp;г. объем производства составил 31,2&nbsp;млрд. шт.
        сигарет с&nbsp;учетом производственной площадки
        в&nbsp;г.&nbsp;<nobr>Переславль-Залесский</nobr>, что на&nbsp;11% ниже
        уровня 2013&nbsp;г.
      p.
        Общий объем продаж сократился на&nbsp;4% и&nbsp;составил 32&nbsp;млрд.
        шт. сигарет. При этом продажи на&nbsp;российском рынке выросли
        на&nbsp;1,5% и&nbsp;составили 27,5&nbsp;млрд. шт. сиг.
      p.
        Основными причинами сокращения объемов производства и&nbsp;продаж стал
        ряд факторов: санкции и&nbsp;валютные колебания, сказавшиеся
        на&nbsp;себестоимости продукции, ужесточение акцизной политики, закрытие
        рынка Украины (самый весомый фактор&nbsp;&mdash; 5%).
      p.
        Сегодня ассортиментный портфель компании составляет более 120
        наименований табачных изделий. География продаж&nbsp;&mdash; вся Россия,
        экспорт.
      p.
        Лидеры в&nbsp;общей структуре продаж&nbsp;&mdash; марки &laquo;Донской
        табак&raquo;, &laquo;Continent&raquo;, &laquo;PLAY&raquo;,
        &laquo;Арктика&raquo;.
      p.
        В&nbsp;2014&nbsp;г. на&nbsp;рынок выведены новые табачные изделия:
        &laquo;Continent&raquo; SMARTLINE Alpes, &laquo;Continent&raquo;
        SMARTLINE Andes, &laquo;21 VEK&raquo; COMPACT neon,
        &laquo;ASMOLOFF&raquo; FINE GOLD, &laquo;ASMOLOFF&raquo; FINE BLUE,
        &laquo;DONTABAK&raquo; compact, &laquo;DONTABAK&raquo; compact южный
        вкус, &laquo;PLAY&raquo; BIT, RICHMOND ROYAL и&nbsp;др.
      p.
        Проведена конверсия оборудования под выпуск сигарет формата Queen Size,
        объем продаж которых в&nbsp;2014&nbsp;г. увеличился в&nbsp;3 раза
        по&nbsp;сравнению с&nbsp;предыдущим периодом.
      p.
        На&nbsp;экспорт реализовано 5,1&nbsp;млрд. шт. сигарет.<br />
        Основные внешние рынки сбыта: Приднестровье, Грузия, Ирак, Абхазия,
        Украина, Казахстан, Иран. В&nbsp;2014 году открыты новые направления:
        Египет, Французская Полинезия, Венгрия, Сирия, Азербайджан, Швейцария,
        Польша, Словакия.</p>
      p
      | Валовый объём продаж вырос на 31% до уровня 47,4 млрд. руб.
      br
      | Чистый объем продаж вырос на 6% и составил 14,4 млрд. руб.
      p
        | Показатель EBITDA составил 5,1 млрд. руб., что на 10% выше, показателя предыдущего периода.
      p
        | В 2014 г. компания начала внедрение производственной системы, способствующей минимизации потерь и издержек.
      p
        | Объем налоговых отчислений в бюджеты всех уровней вырос на 31% и составил 32,2 млрд. руб.
      p
        | Европейская площадка табачного 
        nobr бизнес-комплекса
        |  — компания Sekap (Ксанти, Греция) в 2014 г. произвела 1,6 млрд. шт. сигарет, рост объемов производства составил 8% в сравнении с 2013 г. Отгрузка — 1,6 млрд. шт. сигарет, что на 9% превысило аналогичный показатель предыдущего периода.
      p
        | Основным стратегическим направлением деятельности компании является экспорт. В 2014 году Sekap начал поставки по ряду новых экспортных направлений — Армения, Ливан, Абхазия, Молдавия, ОАЭ, Болгария. На уже известных рынках — Албании и Туркменистане, с целью укрепления позиций компании появились вторые дистрибьюторы.
      p
        | На экспорт представлен ряд новинок: «Absolut» Black, «Absolut» Silver, «Absolut» Gold, «Донской табак» 100’s, «Continent» Slims. Стабильным спросом пользуются традиционные марки «Cooper», «GR», «Absolut» и «Continent».
  .visual-wide-thin(data-img="http://puu.sh/h6e9S/5c2e19869e.png")
  .content
    .center
      blockquote Мясной бизнес комплекс (ГК «ТАВР»)
      p
      | В 2014 г. объем производства по Группе компаний «ТАВР» составил 45, 9 тыс. тонн колбасных изделий и полуфабрикатов, что ниже, предыдущего периода на 4%. Снижение объемов производства в основном обусловлено введением санкций.
      p
        | Ассортимент тавровской продукции насчитывает 203 наименования. Самый популярный продукт — сосиски «Ганноверские экстра», общий объем производства которых составил 9,3 тыс. тонн.
      p
        | В 2014 г. на рынок выведено 14 новых продуктов. Суммарный объем продаж новинок за год составил 157 тонн.
      p География продаж — Юг России и Северный Кавказ. Доля рынка в ЮФО: 18,9%
      p
        | В 2014 году компания вышла на рынок Крыма, 
        nobr Санкт-Петербурга
        | , Белгорода, Брянска.
      p
        | На выставке «Золотая осень» в Москве продукция компании удостоена золотой и четырех серебряных медалей за качество. В результате соцопроса в рамках проекта «Сделано на Дону» ГК «ТАВР» стала лучшей в номинации «колбасные изделия». Колбаса «Салями итальянская с фисташками» победила в конкурсе «Вкус качества» в Москве.
      p
        | Объем налоговых платежей по мясному 
        nobr бизнес-комплексу
        |  за 2014 г. составил 683 тыс. руб.
      p
        | Объем продаж фирменной розничной сети мясного 
        nobr бизнес-комплекса
        |  «Тавровские мясные лавки» вырос на 5,5% и составил 5,9 тысяч тонн
      p Валовый объем продаж вырос на 19,1% и составил 1,7 млрд. рублей.
      p
        | Задача на 2015 год — развитие проекта в соседних регионах и укрепление позиций в производстве и продаже полуфабрикатов — весной этого года «Тавр» запускает новые линии по производству пельменей и хинкали.
      p Количество торговых точек сети — 58.
      p
        | Свиноводческое хозяйство «Батайское» в 2014 г. произвело 5 тыс. тонн свинины. К концу 2015 г. планируется увеличить поголовье свиней на треть.
        br
        | Объем инвестиций в строительство и оборудование составит около 100 млн. рублей. Проект будет реализован за счет собственных средств, без привлечения кредитов.
      blockquote Другие бизнес-проекты
      h3 ООО «Фирма «Аква-Дон»
      p
        | В 2014 г. компания произвела 32,5 млн. бутылок.
        br
        | Объем продаж — 32,3 млн. бутылок.
        br
        | Лидеры продаж — «Аксинья», «Иверская», «Питьевая № 1».
        br
        | EBITDA — 42,7 млн. руб.
        br
        | На рынок выведены новые продукты — горная вода «Родники Абхазии», холодный чай, имбирный эль.
        br
        | Ассортиментный портфель — 45 видов продукции.
      h3 ООО «АПК XXI век» (тепличный комплекс)
      p
        | Объем продаж в 2014 г.
        br
        | Огурец — 671 тонн
        br
        | Томат — 354 тонн
        br
        | Салат и зелень — 762 тыс. шт.
      p
        | Валовый объем продаж — 74 млн. руб.
        br
        | EBITDA — 8 млн. руб.
        br
        | География продаж — Ростов и область.
      h3 РЗГА 412
      p
        | Валовый объем продаж — 1,6 млрд. руб. (рост 30%)
        br
        | Чистый объем продаж — 1,4 млрд. руб. (рост 30%)
      p
        | Отгрузка в натуральных показателях:
        br
        | Самолеты 
        nobr ТУ-134
        | : 5 — 2013 г., 10 — 2014 г.
        br
        | Самолеты 
        nobr АН-26
        | : 2 — 2013 г., 2 — 2014 г.
        br
        | Авиадвигатели: 86 — 2013 г., 95 — 2014 г.
      p
        | Основные заказчики: 
        nobr ОАО «Авиаремонт»
        | , ФГК УУА ФСБ
        br
        | Среднесписочная численность: 843 чел.