extends layout

block vars
 - var bodyClass = "business";

block header
  include _header_small.jade

block content
  #preload-visual.visual-wide(data-img="http://puu.sh/h69bp/04b5311ce4.png")
    .logo
      img(src="/images/logo-don-tabaco.png")
    .holder
      .title Табачный бизнес-комплекс
      .teaser.
        В состав табачного бизнес-комплекса «ГРУППЫ АГРОКОМ» входят предприятия,<br>
        специализирующиеся на производстве и дистрибуции табачной продукции.<br>
        Общая численность персонала — более 1,5 тыс.человек.
  .content
    h1 ЗАО «Донской табак»
    .row.col-2
      .info
        p.
          <nobr>ЗАО &laquo;Донской табак&raquo;</nobr>&nbsp;&mdash; головное
          предприятие табачного <nobr>бизнес-комплекса</nobr>. Эта компания
          со&nbsp;100% российским капиталом основана более 155 лет назад
          в&nbsp;<nobr>Ростове-на-Дону</nobr>. Производственный комплекс
          компании занимает площадь <nobr>в 48 тыс. кв. м.</nobr> Табачная фабрика
          оснащена современным оборудованием с&nbsp;применением
          энергосберегающих технологий. Мощность табачного цеха&nbsp;&mdash; 45
          тыс. тонн табачного сырья в&nbsp;год, сигаретного цеха&nbsp;&mdash;
          45&nbsp;млрд. сигарет в&nbsp;год.
      .address
        p.
          344002, Российская Федерация<br>
          г. Ростов-на-Дону, ул. Красноармейская, 170/84
        p.
          приемная тел.: (863) 240-45-75, факс: (863) 240-29-34<br>
          пресс-служба: (863) 250-58-14<br>
          <a href="mailto:info@dontabak.ru" class="no-style">info@dontabak.ru</a>
        p
          a(href="http://dontabak.ru") http://dontabak.ru
    .center
      h2 Продукция ЗАО «Донской табак» отвечает мировым стандартам качества
      p.
        Компания является обладателем сертификата международного образца на соответствие
        интегрированной системы менеджмента /ИСМ/ международным стандартам ISO 9001:2008
        «Система менеджмента качества. Требования» и ISO 14001:2004 «Система экологического
        менеджмента. Требования и руководство по использованию».
        
      h2 Ассортиментный портфель компании насчитывает свыше 160 наименований табачных изделий
      p.
        &laquo;Донской табак&raquo; выпускает продукцию под собственными
        торговыми марками, а&nbsp;также в&nbsp;сотрудничестве с&nbsp;английскими
        партнёрами Innovation Tobacco Company и&nbsp;Richmond Tobacco Products.
        На&nbsp;фабрике производятся сигареты с&nbsp;фильтром 30 конструкций под
        каждую табачную смесь. Компания &laquo;Донской табак&raquo; производит
        различные форматы сигарет&nbsp;&mdash; King Size, Slims, Super Slims,
        <nobr>D-shape</nobr>. Более трети от&nbsp;общего объёма производства
        приходится на&nbsp;сигареты формата Super Slims.
      
      //iframe(src="https://player.vimeo.com/video/59913414?color=ffffff&title=0&byline=0&portrait=0" width="710" height="399" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
      
      blockquote
        p.
          Согласно исследованию компании &laquo;OMI&raquo; (Online Marketing
          Intelligence) в&nbsp;области потребительских предпочтений россиян
          &laquo;ТАВР&raquo; входит в&nbsp;<nobr>ТОП-10</nobr> любимых брендов
          в&nbsp;категории &laquo;Мясные и&nbsp;колбасные изделия&raquo;.
          
      h2 Продукция ЗАО «Донской табак» представлена во всех ценовых сегментах
      p.
        Табачная мешка, формат сигарет, конструкция и&nbsp;дизайн табачных пачек
        разрабатываются с&nbsp;учётом потребительских предпочтений
        и&nbsp;последних тенденций рынка. Особое внимание уделяется производству
        сигарет с&nbsp;пониженным содержанием смолы и&nbsp;никотина. Лидеры
        продаж&nbsp;&mdash; сигареты марок KISS, CONTINENT, ДОНСКОЙ ТАБАК
        и&nbsp;21 ВЕК.
  .visual-wide-thin(data-img="http://puu.sh/h6e9S/5c2e19869e.png")
  
  .content
    h1 СЕКАП АО
    .row.col-2
      .info
        p.
          СЕКАП&nbsp;&mdash; европейская производственная площадка табачного
          <nobr>бизнес-комплекса</nobr>. Производственный комплекс компании
          располагается в&nbsp;Ксанти (Греция).
      .address
        p.
          344002, Российская Федерация<br>
          г. Ростов-на-Дону, ул. Красноармейская, 170/84
    .center
      h2 Производственная мощность сигаретного цеха — 9 млрд. сигарет в год.
      p.
        Компания СЕКАП является обладателем сертификата международного образца
        на&nbsp;соотвествие международным стандартам ISO 9001:2000
        &laquo;Система менеджмента качества. Требования&raquo;.
      p.
        Продукция АО&nbsp;СЕКАП представлена во&nbsp;всех ценовых сегментах.
        Лидеры продаж&nbsp;&mdash; сигареты марок GR, BF, Cooper.
      p.
        Общая численность персонала&nbsp;&mdash; более 250 человек.