extends layout

block vars
 - var bodyClass = "contacts";

block header
  include _header_small.jade

block content
  .sub-header
    .title Контактная информация
  
  .content
    .row
      .address
        h2 ООО «ГРУППА АГРОКОМ»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          Приемная +7 (863) 250-58-14
        p.
          <strong>Дирекция по корпоративным коммуникациям</strong><br>
          +7 (863) 250-58-14<br>
          <a href="mailto:info@agrokomgroup.ru">info@agrokomgroup.ru</a>
        p.
          <strong>Отдел по управлению персоналом</strong><br>
          +7 (863) 250-58-14<br>
          <a href="mailto:info@agrokomgroup.ru">info@agrokomgroup.ru</a>
        p.
          <strong>Горячая линия для партнеров</strong><br>
          +7 (863) 250-58-14<br>
          <a href="mailto:info@agrokomgroup.ru">info@agrokomgroup.ru</a>
      .map.
        <div id="MyGmaps" style="width:480px;height:374px;"></div>
  .grey
    .content
      .unit
        h3 ЗАО «Донской табак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          <a href="mailto:info@dontabak.ru">info@dontabak.ru</a>
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru
      .unit
        h3 ООО ПКФ «Атлантис-Пак»
        p.
          344002, г. Ростов-на-Дону, ул. Красноармейская, 170<br>
          тел.: приемная + 7 (863) 240-45-75, факс: +7 (863) 240-29-34.<br>
          info@dontabak.ru