extends layout

block content
  .slogan.
    Объединяем<br>
    Сохраняем<br>
    Приумножаем
  #main-slider
    .preloader-wrapper
      .preloader
        .ball
        .ball1
    .slide(data-img='http://puu.sh/hdx69/3c7a8a471f.jpg')
      .holder
        .text
          .row <big>46,6</big> <small>млрд. рублей</small>
          .row годовой оборот
    .slide(data-img='http://puu.sh/hkwO9/969dbf88cc.png')
      .holder
        .text
          .row <big>40</big>
          .row Предприятий
    .slide(data-img='http://puu.sh/hkwWC/59e8ccfc7c.jpg')
      .holder
        .text
          .row <big>15 000</big>
          .row Сотрудников
    .slide(data-img='http://puu.sh/hkxqx/74394a2dc2.jpg')
      .holder
        .text
          .row <big>26,7</big> <small>млрд. рублей</small>
          .row налогов
    .dots
      a(href="")
      a(href="")
      a(href="")
      a(href="")
  ul.business-list
    li
      a(href="business.html")
        img(src="/images/logo-don-tabaco-mid.png")
    li
      a(href="business.html")
        img(src="/images/logo-tavr-mid.png")
    li
      a(href="business.html")
        img(src="/images/logo-atlantis-pack-mid.png")
    li
      a(href="business.html")
        img(src="/images/logo-aqua-don-mid.png")
  .content
    .row.text-col-2
      p
        img(src="/images/logo-black.svg" width="378")
      p.bold
        Российская компания, владеющая активами в предприятиях табачной и
        пищевой промышленности, в сети розничной торговли в Южном Федеральном
        округе России, а также медиа-активами.
      p.
        Свою миссию Управляющая компания ООО «ГРУППА АГРОКОМ» видит в
        обеспечении условий для постоянного совершенствования
        бизнес-деятельности компаний, входящих в структуру ГРУППЫ, в
        соответствии с поставленными для них стратегическими целями и задачами
        по росту капитализации и экономической эффективности, по укреплению
        работоспособности, развитию производства и дистрибьюции продукции
        требуемого качества.
  .recent-news
    .content
      p.head-title Последние новости
      a.unit(href="")
        time 11.12.2014
        .title «Атлантис-Пак» — <br>лучший российский экспортер
        .desc «Атлантис-Пак» стал победителем конкурса «Лучший российский экспортер» по итогам 2013 года.
      a.unit(href="")
        time 22.11.2014
        .title Мэр Ростова-на-Дону наградил бизнесменов за вклад в развитие города
        .desc Мэр Ростова-на-Дону Михаил Чернышев наградил бизнесменов и руководителей организаций за вклад в развитие города.
      a.unit(href="")
        time 20.10.2014
        .title Сеть «Тавровские мясные лавки» вышла на крымский рынок
        .desc Первая лавка тавровской розничной сети открылась 5 июля в Симферополе.
  .projects-grid
    .head-title
      a(href="/projects.html") Проекты
    .holder
      .unit
        a.visual(style="background-image:url('http://dummyimage.com/640x640');")
        .info
          .title Продукция и разработки
          .text.
            На основе собственных научных и технологических мощностей
            разрабатывает системные решения для проектов цифрового телевещания в
            России и за рубежом.
          a.more(href="") Подробнее
      .unit
        a.visual(style="background-image:url('http://dummyimage.com/640x640');")
        .info
          .title Продукция и разработки
          .text.
            На основе собственных научных и технологических мощностей
            разрабатывает системные решения для проектов цифрового телевещания в
            России и за рубежом.
          a.more(href="") Подробнее
      .unit
        a.visual(style="background-image:url('http://dummyimage.com/640x640');")
        .info
          .title Продукция и разработки
          .text.
            На основе собственных научных и технологических мощностей
            разрабатывает системные решения для проектов цифрового телевещания в
            России и за рубежом.
          a.more(href="") Подробнее
      .unit
        a.visual(style="background-image:url('http://dummyimage.com/640x640');")
        .info
          .title Продукция и разработки
          .text.
            На основе собственных научных и технологических мощностей
            разрабатывает системные решения для проектов цифрового телевещания в
            России и за рубежом.
          a.more(href="") Подробнее
      .unit.wide
        a.visual(style="background-image:url('http://dummyimage.com/640x640');")
        .info
          .title Продукция и разработки
          .text.
            На основе собственных научных и технологических мощностей
            разрабатывает системные решения для проектов цифрового телевещания в
            России и за рубежом.
          a.more(href="") Подробнее