- var bodyClass = "";

block vars

doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Агроком
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/bxSlider/dist/jquery.bxslider.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
    script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")

  body(class="#{bodyClass}")
    block header
      include _header.jade
      
    block content
    
    block footer
      include _footer.jade

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bxSlider/dist/jquery.bxslider.js')
    script(src='../bower_components/bxSlider/dist/jquery.bxslider.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/main-slider.js')
    script(src='scripts/common-slider.js')
    script(src='scripts/visual.js')
    script(src='scripts/inf-scroll.js')
    script(src='scripts/map.js')
    // endbuild