extends layout

block vars
 - var bodyClass = "news";

block header
  include _header_small.jade

block content
  .sub-header
    ul
      li
        a.active() Новости
      li
        a(href="press.html") Публикации в СМИ
  .content
    .page-desc
      p
        | &laquo;ГРУППА АГРОКОМ&raquo;&nbsp;&mdash; российская компания, владеющая
        | активами в&nbsp;предприятиях табачной и&nbsp;пищевой промышленности,
        | в&nbsp;сельскохозяйственных предприятиях, в&nbsp;сети розничной торговли
        | в&nbsp;Южном федеральном округе России, а&nbsp;также
        | <nobr>медиа-активами</nobr>. Группа компаний была создана
        | в&nbsp;<nobr>Ростове-на-Дону</nobr> в&nbsp;2004 году.
    .news-filter
      form(action="" method="GET" name="date-filter")
        .title Архив новостей
        select(name="month" id="month" for="date-filter")
          option(value="01") Январь
          option(value="02") Февраль
          option(value="03") Март
          option(value="04") Апрель
          option(value="05") Май
          option(value="06") Июнь
          option(value="07") Июль
          option(value="08") Август
          option(value="09") Сентябрь
          option(value="10") Октябрь
          option(value="11") Ноябрь
          option(value="12") Декабрь
        select(name="year" id="year" for="date-filter")
          option(value="2015") 2015
          option(value="2014") 2014
          option(value="2013") 2013
          option(value="2012") 2012
          option(value="2011") 2011
          option(value="2010") 2010
          option(value="2009") 2009
          option(value="2008") 2008
          option(value="2007") 2007
          option(value="2006") 2006
          option(value="2005") 2005
        button(type="submit" for="date-filter") Показать
    .news-list.inf-scroll
      .unit
        .date 11.12.2014
        .news
          h2
            a(href="")
              Самые популярные бренды и компании в Ростовской области
          .common-slider-controls
            a.prev(href="")
              span
            .numbers
            a.next(href="")
              span
          ul.common-slider
            li
              img(src="http://dummyimage.com/710x430/")
            li
              img(src="http://dummyimage.com/710x430/")
            li
              img(src="http://dummyimage.com/710x430/")
          .description
            p.
              &laquo;ТАВР&raquo;&nbsp;&mdash; единственное пищевое предприятие
              в&nbsp;Российской Федерации, которое стало обладателем этого приза
              в&nbsp;2012 году. А&nbsp;также единственная компания Ростовской
              области, удостоенная этой награды за&nbsp;пятнадцатилетнюю историю
              Всероссийского конкурса. В&nbsp;2013&nbsp;г. в&nbsp;рамках
              мероприятия признания удостоились тавровские сосиски
              &laquo;Итальянские с
          a.more(href="") Подробнее
      .page-nav
        a.next(href="news-page2.html") Следующая страница //ссылка на следующую страницу, будет загружена в бесконечный скролл автоматически
        center 
          .preloader
            .ball
            .ball1