extends layout

block vars
 - var bodyClass = "projects";

block header
  include _header_small.jade

block content
  .sub-header
    .title Проекты
  .two-columns
    aside
      ul
        li
          a(href="") Благотворительность
        li
          a.active(href="") Табачка
        li
          a(href="") Мясной
        li
          a(href="") Рыбохозяйственный
        li
          a(href="") Недвижимость
        li
          a(href="") Малый бизнес-комплекс
        li
          a(href="") Малый бизнес-комплекс
        li
          a(href="") Малый бизнес-комплекс
          
    article
      .content
        .center
          h1 Табачка
          h2 Ассортиментный портфель компании насчитывает свыше 160 наименований табачных изделий
          p.
            «Донской табак» выпускает продукцию под собственными торговыми
            марками, а также в сотрудничестве с английскими партнёрами
            Innovation Tobacco Company и Richmond Tobacco Products. На фабрике
            производятся сигареты с фильтром 30 конструкций под каждую табачную
            смесь. Компания «Донской табак» производит различные форматы сигарет
            — King Size, Slims, Super Slims, D-shape. Более трети от общего
            объёма производства приходится на сигареты формата Super Slims.
          .common-slider-controls
            a.prev(href="")
              span
            .numbers
            a.next(href="")
              span
          ul.common-slider
            li
              img(src="http://dummyimage.com/710x430/")
            li
              img(src="http://dummyimage.com/710x430/")
            li
              img(src="http://dummyimage.com/710x430/")
          blockquote.
            Мощность табачного цеха — 45 тыс. тонн табачного сырья в год,
            сигаретного цеха — 45 млрд. сигарет в год.
          p.
            «ТАВР» — единственное пищевое предприятие в Российской Федерации,
            которое стало обладателем этого приза в 2012 году. А также
            единственная компания Ростовской области, удостоенная этой награды
            за пятнадцатилетнюю историю Всероссийского конкурса.В 2013 г. в
            рамках мероприятия признания удостоились тавровские сосиски
            «Итальянские с сыром пармезан», «Шпик слоеный с васаби» и шейка
            сырокопченая «Стрелецкая», ставшие лауреатами в номинации
            «Продовольственные товары». Варено-копченая колбаса «Свиная» стала
            дипломантом конкурса. На XV аграрно-промышленной выставке «Золотая
            осень-2013» Тавровские продукты получили шесть золотых и одну
            серебряную медаль. В 2013 году «ТАВР» был удостоен почётного знака
            «Сделано на Дону» — показателя строгого соблюдения российских и
            международных стандартов качества.
          p.
            344002, Российская Федерация<br>
            г. Ростов-на-Дону, ул. Красноармейская, 170/84<br>
            приемная тел.: (863) 240-45-75<br>
            <br>
            <a href="http://dontabak.ru" target="_blank">http://dontabak.ru</a>