footer {
  position: relative;
  z-index: 1000;
  .real-footer {
    background: #1b1b1b;
    padding: 0 80px;
    padding-bottom: 80px;
    @include cf();
    color: white;
    font-family: 'Foros-Regular';
    padding-top: 32px;
    font-size: 13px;
    strong {
      font-family: 'Foros-Medium';
      font-weight: normal;
    }
    &>* {
      float: left;
      margin-right: 90px;
    }
    .company {
      font-size: 14px;
    }
  }
  .logos-line-wrapper {
    background: #2c2c2c;
    padding-top: 90px;
    padding-bottom: 90px;
    .holder {
      width: 960px;
      margin: 0 auto;
      @include cf();
      height: 125px;
      .logos-line {
        float: left;
        position: relative;
        padding: 20px 0px;
        overflow: hidden;
        width: 40px;
        height: 0;
        &.on-screen {
          width: 838px;
          height: 85px;
          transition: all 1200ms cubic-bezier(1, 0, 0, 1);
          a.unit {
            opacity: 1;
            &:hover {
              transform: scale(1.3) translateY(0px);
              //transition: all 0ms ease;
              //opacity: 0.8;
            }
          }
        }
        &:before, &:after {
          content: ' ';
          display: block;
          background: url('../images/daco-sigment.png');
          width: 32px;
          height: 34px;
          position: absolute;
        }
        &:before {
          transform: rotate(270deg);
          bottom: 1px;
          left: 1px;
        }
        &:after {
          transform: rotate(90deg);
          right: 1px;
          top: 1px;
        }
        .wrapper {
          width: 774px;
          margin: 0 32px;
        }
        a.unit {
          display: inline-block;
          vertical-align: middle;
          width: 61px;
          margin: 0 8px;
          opacity: 0;
          transform: scale(1) translateY(0px);
          @for $i from 1 through 9{
            &:nth-child(#{$i}) {
              transition: opacity 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 100ms ease-in-out;
              transition-delay: 500+($i*100)+ms, 0ms;
            }
          }
          img {
            display: block;
            width: 100%;
          }
        }
      }
      .logo {
        float: left;
        margin-top: -34px;
      }
    }
  }
}