@-webkit-keyframes AnimationGrad {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationGrad {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationGrad { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.sub-header {
  background: rgb(0,183,199);
  background: -moz-linear-gradient(left,  rgba(0,255,199,1) 0%, rgba(0,183,199,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,255,199,1)), color-stop(100%,rgba(0,183,199,1)));
  background: -webkit-linear-gradient(left,  rgba(0,255,199,1) 0%, rgba(0,183,199,1) 50%, rgba(0,255,199,1) 100%);
  background: -o-linear-gradient(left,  rgba(0,255,199,1) 0%, rgba(0,183,199,1) 50%, rgba(0,255,199,1) 100%);
  background: -ms-linear-gradient(left,  rgba(0,255,199,1) 0%, rgba(0,183,199,1) 50%, rgba(0,255,199,1) 100%);
  background: linear-gradient(to right,  rgba(0,255,199,1) 0%, rgba(0,183,199,1) 50%, rgba(0,255,199,1) 100%);
  //background: linear-gradient(270deg, #00ffc7, #00b7c7);
  background-size: 150% 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7c7', endColorstr='#00ffc7',GradientType=1 );
  padding-left: 54px;
  // margin-top: -(83+36)+px;
  // padding-top: 135px;
  padding-top: 20px;
  padding-bottom: 10px;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0;
  &.loaded {
    animation: AnimationGrad 20s ease infinite;
    transform: translate(0px, 0px) rotateX(0deg);
    -ms-transform: translate(0px, 0px) rotateX(0deg);
    opacity: 1;

    & > * {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  & > * {
    opacity: 0;
    transform: translate(0px, 60px);
    -ms-transform: translate(0px, 60px);
    transition: all 1600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 1600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  h1, .title {
    font-family: 'Foros-Medium';
    font-size: 32px;
    color: white;
    font-weight: normal;
    margin: 0.67em 0;
  }
  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include cf();
    li {
      float: left;
      a {
        color: black;    
        font-family: 'Foros-Medium';
        font-size: 32px;
        color: black;
        font-weight: normal;
        margin: 0.67em 0;
        display: block;
        text-decoration: none;
        padding: 6px 16px;
        border: 1px solid transparent;
        margin-right: 15px;
        &.active {
          border: 2px solid white;
          color: white;
        }
        h1 {
          margin: 0;
        }
      }
    }
  }
}
.content {
  width: 960px;
  margin: 0 auto;
  color: #2c2c2c;
  margin-bottom: 70px;
  h1 {
    font-family: 'Foros-Medium';
    font-size: 52px;
    font-weight: normal;
    margin: 63-9px 0;
  }
  .center {
    width: 710px;
    margin: 0 auto;
    font-family: 'Foros-Regular';
    font-size: 15px;
    h2 {
      font-family: 'Foros-Medium';
      font-size: 22px;
      font-weight: normal;
      margin-top: 60px;
      &:before {
        content: ' ';
        display: block;
        background: url('../images/daco-sigment.png');
        width: 32px;
        height: 34px;
        position: absolute;
        margin-left: -32px;
        margin-top: -20px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        opacity: 0;
        transition: all 900ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: 0.7s;
        transform-origin: right bottom;
        -ms-transform-origin: right bottom;
      }
    }
    h3 {
      font-family: 'Foros-Medium';
      font-size: 29px;
      font-weight: normal;
      //margin-top: 60px;
      color: black;
    }
    iframe {
      margin: 40px 0;
    }
    blockquote {
      margin: 40px 0;
      margin-left: -125px;
      width: 960px;
      color: #1eb3c2;
      font-size: 27px;
      font-family: 'Foros-Medium';
    }
  }
  & > *:not(.center), .news-list .unit, .center > * {
    //transform: translate(0px, 30px);
    transform: scale(0.99) scaleZ(1.0) rotateX(-3deg) translateY(30px);
    -ms-transform: scale(0.99) scaleZ(1.0) rotateX(-3deg) translateY(30px);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    perspective: 410;
    perspective-origin: 50% 50%;
    opacity: 0;
    transition:  all 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .on-screen {
    //transform: translate(0px, 0px) !important;
    transform: scale(1) scaleZ(1.0) rotateX(0deg) translateY(0px) !important;
    -ms-transform: scale(1) scaleZ(1.0) rotateX(0deg) translateY(0px) !important;
    opacity: 1 !important;
  }
  h2.on-screen {
    &:before {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      opacity: 1;
    }
  }
  .page-desc {
    width: 850px;
    font-family: 'Foros-Medium';
    font-size: 21px;
    color: #2c2c2c;
    margin-top: 38px;
  }
}

.row {
  &.col-2 {
    @include cf();
    .info {
      float: left;
      font-family: 'Foros-Medium';
      font-size: 18px;
      width: 550px;
      p {
        margin-top: 0;
        
      }
    }
    .address {
      float: right;
      font-family: 'Foros-Regular';
      font-size: 14px;
      border-left: 2px solid #1eb3c2;
      padding-left: 16px;
      width: 374px;
      p {
        margin-top: 4px;
      }
      a {
        color: #1eb3c2;
      }
    }
  }
  &.text-col-2 {
    column-count: 2;
    font-family: 'Foros-Regular';
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    margin-top: 72px;
    margin-bottom: 72px;
    p {
      margin-top: 0;
      break-inside: avoid-column;
      margin-bottom: 32px;
      &.bold {
        font-family: 'Foros-Medium';
        font-size: 19px;
      }
    }    
  }
}

.two-columns {
  @include cf();
  aside {
    float: left;
    width: 400px;
    background: #e5e5e5;
    padding-bottom: 180px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-left: 45px;
      margin-top: 45px;
      li {
        margin: 12px 0;
        a {
          display: inline-block;
          padding-left: 32px;
          font-family: 'Foros-Regular';
          font-size: 21px;
          color: #2c2c2c;
          text-decoration: none;        
          width: 100%;
          box-sizing: border-box;
          &:hover {
            text-decoration: underline;
          }
          &.active {
            background: #606060;
            color: white;
            font-family: 'Foros-Medium';
            font-size: 30px;
            padding-top: 5px;
            text-decoration: none;
          }
        }
      }
    }
  }
  article {
    float: left;
    padding-left: 80px;
    .content {
      width: 100%;
      .center {
        blockquote {
          width: 555px;
          margin-left: 120px;
        }
        @include max-screen(1200px) {
          width: 510px;
          blockquote {
            width: 390px;
          }
        }
      }
    }
  }
}

body.business {
  h1.on-screen {
    display: none;
  }

  .row.text-col-2 {
    margin-top: 2px;
  }
}

.form-holder {
        width: 421px;
        height: 449px;
        float: right;
        //overflow: hidden;

        .form-head {
          font-size: 16px;
          margin-bottom: 22px;
          text-transform: uppercase;
        }

        .field-title {
          color: #929ca6;
          font-size: 14px;
          margin-bottom: 8px;
        }

        input {
          width: 421px;
          height: 48px;
          border: 2px #c6ccd2 solid;
          border-radius: 5px;
          box-sizing: border-box;
          padding: 16px;
          margin-bottom: 15px;
        }

        .message {
            width: 421px;
            min-height: 141px;
            border: 2px #c6ccd2 solid;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 16px;
        }

        button {
          border: 0;
          background: #1eb3c2;
          color: #fff;
          width: 140px;
          height: 47px;
          line-height: 47px;
          text-align: center;
          font-size: 16px;
          float: right;
          margin-top: 16px;
        }

        label {
          font-size: 14px;
          color: #C80000;
          margin-top: -10px;
          display: block;
        }

        .form-error {
          font-size: 14px;
          color: #C80000;
        }
      }

      .final {
          display: none;
      }

body.contacts {
  .content {
    @include cf();
    .map {
        float: left;
        width: 960px;
        margin-top: 94px;
    }
    .row {
      margin-top: 39px;
      .address {
        float: left;
        width: 480px;
        p {
          margin: 20px 0;
        }
      }

      
    }
  }
  p {
    font-size: 15px;
  }
}

.grey {
  background: #e5e5e5;
  .content {
    column-count: 2;
    padding-top: 58px;
    margin-bottom: 0;
    .unit {
      width: 450px;
      display: inline-block;
      //page-break-inside: avoid;
      margin-bottom: 58px;
      h3 {
        margin-top: 0;
      }
    }
  }
}