header {
  background: #2c2c2c;
  width: 100%;
  position: relative;
  z-index: 100;
  .holder {
    padding: 0 54px;
    @include cf();
    position: relative;
    /*&:before {
      width: 300px;
      //width: 620px;
      height: 84px;
      content: ' ';
      display: block;
      position: absolute;
      transform: skew(-45deg, 0deg);
      //background-image: linear-gradient(-45deg, rgba(#00FAC8, 0) 0%, rgba(#00FAC8, 0.5) 10%, #099DAB 50%, rgba(#1BDBEF, 0.5) 90%, rgba(#1BDBEF, 0.1) 100%);
      background: linear-gradient(90deg, rgba(44,44,44,0) 30%,rgba(214,214,214,1) 50%,rgba(201,201,201,1) 51%,rgba(44,44,44,1) 70%,rgba(44,44,44,0) 70%); 
      transition: all 1500ms cubic-bezier(0.86, 0, 0.07, 1);
      left: -360px;
      z-index: 100;
    }*/
    &.loaded {
      &:before {
        left: 105%;
        //background-image: linear-gradient(-45deg, rgba(#1BDBEF, 0) 0%, rgba(#00FAC8, 0.5) 10%, #00FAC8 50%, rgba(#1BDBEF, 0.5) 90%, rgba(#099DAB, 0.1) 100%);
      }
    }
    &>* {
      position: relative;
      z-index: 1000;
    }
    .logo-wrapper {
      overflow: hidden;
      float: left;
    }
    .logo {
      float: left;
      margin-top: 30px;
      img {
        display: block;
        width: 214px;
      }
      svg {
        display: block;
        width: 214px;
        height: 25px;
      }
    }
    .main-menu {
      float: right;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        @include cf();
        a {
          display: block;
          padding-top: 26px;
          padding-bottom: 34px;
          padding-left: 12px;
          padding-right: 12px;
          border-top: 6px solid transparent;
          &:hover {
          }
          &.active {
            color: #1eb3c2;
          }
        }
        ul {
          margin-left: 0;
          padding-left: 0;
          position: absolute;
          list-style: none;
          display: none;
          li {
            padding-left: 0;
            margin-left: 0;
            float: none;
          }
        }
        &:hover {
          &>a {
            border-top: 6px solid #00b1c2;
            background: #343434;
            color: #00b2c2;
          }
          ul {
            display: block;
            background: rgba(#343434, 0.9) url("../images/shdow-main-menu.png") top;
            background-repeat: repeat-x;
            padding-left: 7px;
            padding-right: 14px;
            padding-top: 15px;
            padding-bottom: 10px;
            li {
              a {
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                text-transform: none;
                font-family: "Foros-Regular";
                border-left: 2px solid transparent;
                padding-left: 4px;
                line-height: 140%;
                margin-top: 10px;
                margin-bottom: 10px;
              }
              &:hover {
                a {
                  background: none;
                  border: none;
                  color: #00b2c2;
                  border-left: 2px solid #00b2c2;
                }
              }
            }
          }
        }
      }
    }
    .lang-sw {
      float: right;
      margin-top: 33px;
      margin-left: 55px;
      @include cf();
      a {
        font-size: 12px;
        float: left;
        margin-left: 9px;
        color: #1eb3c2;
        &.active {
          color: white;
        }
      }
    }
    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-family: 'Foros-Medium';
      font-size: 14px;
      color: white;
    }
  }
  .shadow {
    position: absolute;
    bottom: -36px;
    background: url('../images/shdow-main-menu.png');
    width: 100%;
    height: 36px;
    z-index: 100;
  }
  &.big {
    background: none;
    position: absolute;
    .holder {
      &:before {
        display: none;
      }
      .logo-wrapper {
        width: 392px;
        height: 164px;
        background: url('../images/logo-2-bg.png');
        margin-left: -54px;
        a.logo {
          display: block;
          width: 142px;
          height: 106px;
          margin-left: 100px;
          position: relative;
          .duga1{
            width: 45px;
            position: absolute;
            left: 55px;
            transform-origin: 0 47px;
            transform: rotate(-360deg*1.5) scale(0.8);
            transition: all 1500ms cubic-bezier(0.645, 0.045, 0.355, 1);
          }
          .text {
            width: 116px;
            position: absolute;
            top: 38px;
            left: 25px;
            opacity: 0;
            transform: translateX(20px);
            transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-delay: 1100ms;
          }
          .duga2 {
            width: 55px;
            position: absolute;
            top: 53px;
            transform-origin: right -6px;
            transform: rotate(360deg*0.5) scale(0.8);
            transition: all 1700ms cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
      &.loaded {
        .logo-wrapper {
          a.logo {
            .duga1 {
              transform: rotate(0deg) scale(1);
            }
            .duga2 {
              transform: rotate(0deg) scale(1);
            }
            .text {
              opacity: 1;
              transform: translateX(0px);
            }
          }
        }
      }
    }
    .shadow {
      display: none;
    }
  }
}
