// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

@mixin cf() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

.cf{
  @include cf();
}

body {
  min-width: 1000px;
  transform: translateZ(0);
}

a {
  color: #1eb3c2;
}

a.no-style {
  text-decoration: inherit !important;
  color: inherit !important;
}

body {
  font-family: 'Foros-Regular';
}

@import "fonts";
@import "header";
@import "footer";
@import "business";
@import "index";
@import "general";
@import "news-list";
@import "common-slider";
