// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

@mixin cf() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

.cf{
  @include cf();
}

body {
  min-width: 1000px;
  transform: translateZ(0);
}

a {
  color: #1eb3c2;
  &:hover {
    text-decoration: none;
  }
}

a.no-style {
  text-decoration: inherit !important;
  color: inherit !important;
}

body {
  font-family: 'Foros-Regular';
}

p {
  line-height: 1.35em;
}

body .video {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  iframe {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      margin-right: -5px;
      vertical-align: middle;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 65px;
      height: 65px;
      #round_x5F_1 {
        transform: rotate(0deg);
        transform-origin: center;
        transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
    }
    &:hover {
      svg {
        //transform: rotate(90deg);
        #round_x5F_1 {
          transform: rotate(90deg);
          transform-origin: center;
        }
      }
    }
  }
}

@import "fonts";
@import "header";
@import "footer";
@import "business";
@import "index";
@import "general";
@import "news-list";
@import "common-slider";