footer
  .real-footer
    .company
      strong ООО «ГРУППА АГРОКОМ»<br>
      span &copy; 2006-2014
    .address 344002, г. Ростов-на-Дону<br>ул. Красноармейская, 170
    .contacts.
      Тел. приемная +7 863 250-58-10,<br>
      факс +7 863 290-71-16<br>
      <br>
      Дирекция по корпоративным коммуникациям<br>
      +7 863 250-58-14