header
  .holder
    a.logo(href="index.html")
      img(src="/images/logo.svg")
    .lang-sw
      a.active(href="/ru/") rus
      a(href="/eng/") eng
    ul.main-menu
      li
        a(href="about.html") О компании
      li
        a(href="projects.html") Проекты
      li
        a(href="press.html") Пресс-центр
      li
        a(href="contacts.html") Контакты
  .shadow